.body-content{
    height: 100%;
}


body{
    background: #66cefc url('/images/bg.jpg.png');
    background-size: cover;
    #app.register{
        background:  url('/images/bg-card.png') no-repeat center;
        background-size: cover;
    }
}

.how-to-modal{
    .div{
        pointer-events: none;
    }
    img{
        max-width: 200px;
        cursor: pointer;
        transition: transform 0.3s ease-out;
        @include media-breakpoint-up(lg) {
            max-width: 350px;
        }
        &:hover{
            transform: scale(1.02);
        }
    }
}

.btn-settings{
    position: absolute;
    top: 35px;
    z-index: 5;
    left: 8px;
    a.btn-son{
        width: 35px;
        filter: grayscale(1);
        &.active{
            filter: grayscale(0);
        }
    }
    @media screen and (min-width: 870px){
        left: 20px;
        a.btn-son {
            width: 60px;
        }
    }
}


.btn-img.btn-reply {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;

    &:hover {
        transform: translateX(-50%) scale(1.02) !important;
    }

    @include media-breakpoint-up(lg) {
        width: 80px;

    }
}


.logo{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 130px;
    @include media-breakpoint-up(md){
        width: 200px;
    }
    @include media-breakpoint-up(lg){
        width: 300px;
    }
}



.login-page{
    .page-1{
        background: url("/images/bg-play-screen.png") no-repeat center;
        background-size: contain;
        position: relative;
    }
}

// Swal
.swal2-container{
    .swal2-icon{
        margin: 10px auto;

    }
    .swal2-popup{
        border-radius: 25px;
        padding: 10px;
    }
    .swal2-content{
        font-size: 1.43em;

    }
    .swal2-title{
        font-size: 2.175em;
        color: #fb4cae;
        line-height:  1em;
        margin-bottom: 5px;
    }
    .swal2-actions{
        .swal2-styled{
            &.swal2-confirm{
                padding: 6px 30px;
                font-size: 1.2rem;
                text-transform: uppercase;
                border-radius: 30px;
                background-color: #fb4cae;
            }
        }
    }

}


.btn-img{
    border-radius: 50px;
    width: 80px;
    display: inline-block;
    border: none;
    background-color: transparent;
    &.btn-play{
        width: 150px;
        padding: 0;
    }

    img{
        width: 100%;
    }
    &:hover,
    &:focus{
        box-shadow: 0 2px 10px rgba(0,0,0,0.2);
        transform: scale(1.02);
    }
    &:active{
        transform: scale(0.95);
    }
    &.btn-login-fb{
        position: absolute;
        width: 110px;
        bottom: 0px;

        @include media-breakpoint-up(lg){
            width: 250px;
            bottom: 30px;
        }
        &.disabled{
            opacity: 0.7;
            transform: scale(0.6);
            cursor: not-allowed;
            &:after{
                content: 'Chargement...';
                font-family: Arial, Helvetica, sans-serif;
                display: block;
                font-size: 13px;
                text-align: center;
                position: absolute;
                width: 100%;
            }

        }

    }
}

.help-modal{
    position: fixed;

}

.register-logo{
    width: 150px;
    @include media-breakpoint-up(md){
        width: 300px;
    }
}

.form-group{
    label{
        font-size: 25px;
        line-height: 30px;
    }
    .form-control{
        background-color: #cccccc;
        border: 5px solid #FFF;
        box-shadow: 0 4px 0px -1px  #999ea9;
        border-radius: 30px;
    }
    .form-control:focus{
        box-shadow: 0 4px 0px -4px  #999ea9;
    }
}




.score-wrap{
    background: url("/images/score-wrapper.png") no-repeat center bottom ;
    background-size: contain;
    width: 90px;
    height: 63px;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-40%);
    top: 10px;
    @media screen and (min-width: 870px){
        width: 200px;
        height: 150px;
        right: 20px;
        top: 50%;
        left: auto;
        transform: translateY(-50%);
    }
    @include media-breakpoint-up(lg){
        width: 300px;
        height: 200px;
    }
    .stars{
        background: url("/images/stars.png") no-repeat center top ;
        background-size: contain;
        width: 100%;
        padding-top: 37%;
    }
    .score{
        font-weight: bold;
        font-size: 28px;
        line-height: 19px;
        display: block;

        @include media-breakpoint-up(md){
            font-size: 60px;
            line-height: 57px;
            margin-top: -4px;
        }
    }
}

// timer style
.timer-wrapper{
    background: url("/images/time-wrapper.png") no-repeat center bottom ;
    background-size: contain;
    width: 100px;
    height: 43px;
    position: absolute;
    padding: 9px 0px 0 38px;;
    top: 30px;
    text-align: center;
    left: 50px;
    small{
        font-size: 12px;
        opacity: 0.7;
    }
    @media screen and (min-width: 870px){
        width: 200px;
        height: 70px;
        padding: 25px 52px 0 95px;
        font-size: 30px;
        line-height: 23px;
        left: 50%;
        transform: translateX(-50%);
        small{
            font-size: 15px;
            opacity: 0.7;
        }
    }
    @include media-breakpoint-up(lg){
        top: 30px;
        width: 300px;
        height: 100px;
        padding: 38px 52px 0 130px;
        font-size: 50px;
        line-height: 23px;
    }
}

.card-wrap {
    width: 100%;
    min-width: 320px;
    display: flex;
    margin-top: 80px;
    padding: 0;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    @media screen and (min-width: 870px){
        margin-top: 100px;
        padding-right: 200px;
    }
    @include media-breakpoint-up(lg){
        margin-top: 100px;
        padding-right: 300px;
    }
    &.level-1{

    }
    &.level-2,
    &.level-1,
    &.level-3{
        max-width: 460px;
        @media screen and (min-width: 737px){
            max-width: 960px;
        }
        @media screen and (min-width: 1167px){
            max-width: 1200px;
        }
    }
    &.level-1{
        @include media-breakpoint-up(lg){
            width: 1100px;
            padding-right: 300px;
        }
    }
    .card-4{
        width: 23%;
        max-width: 90px;
        @media screen and (min-width: 737px){
            max-width: 120px;
        }
        @media screen and (min-width: 1167px){
            max-width: 200px;
        }
    }
    .card-5{
        width: 20%;
        max-width: 70px;
        @media screen and (min-width: 737px){
            max-width: 100px;
        }
        @media screen and (min-width: 1167px){
            max-width: 150px;
        }
    }
    .card-3{
        width: 30%;
        max-width: 120px;
        @media screen and (min-width: 737px){
            max-width: 100px;
        }
        @media screen and (min-width: 1000px){
            max-width: 200px;
        }
    }
    .card-game {
        padding: 0;
        margin: 5px;
        font-size: 0;
        color: #ffffff;
        border-radius: 13px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
        background-image: url("/images/cards/card-back.png");
        background-color: #e978cd;
        background-size: 100%;
        position: relative;
        @include media-breakpoint-up(lg){
            margin: 0.5rem 0.5rem;
            border-radius: 38px;
        }
        &:after{
            opacity: 0;
            content: '\f057';

            font-family: "Font Awesome 5 Free";
            display: block;
            position: absolute;
            top: 0px;
            left: 50%;
            padding: 0 5px;
            box-shadow: 0 4px 20px rgba(0,0,0,0.4);
            background-color: #FFF;
            border-radius: 50%;
            transform: translate(-50%,-50%);
            color: #e2043b;
            transition: opacity 0.3s ease-out;
            transition-delay: 0.2s;
            font-size: 21px;

            @include media-breakpoint-up(md) {
                background-color: white;
                padding: 0 6px;
                transform: translate(-50%,-50%) scale(1.2);
            }
            @include media-breakpoint-up(lg) {
                background-color: #FFF;
                padding: 0 7px;
                font-size: 20px;
                transform: translate(-50%,-50%) scale(1.4);
            }
        }
        @media (max-width: 520px) {
            //width: 5rem;
        }
        img{
            visibility: hidden;
            width: 100%;
        }
        &.open,
        &.match{
            img{
                visibility: visible;
            }
        }
    }

    .card-game.open {
        transform: rotateY(0);
        cursor: default;
        animation-name: flipInY;
        -webkit-backface-visibility: visible !important;
        backface-visibility: visible !important;
        animation-duration: .75s;
    }

    .card-game.show {
    }

    .card-game.match {
        cursor: default;
        font-size: 33px;
        animation-name: rubberBand;
        -webkit-backface-visibility: visible !important;
        backface-visibility: visible !important;
        animation-duration: .75s;
    }

    .card-game.unmatched {
        animation-name: pulse;
        -webkit-backface-visibility: visible !important;
        backface-visibility: visible !important;
        animation-duration: .75s;
        z-index: 20;
        &:after{
            opacity: 1;
        }
    }

    .card-game.disabled {
        pointer-events: none;
        opacity: 0.9;
    }
}


body.win-page{
    #app{
        background: url("/images/bg-win.png") no-repeat center;
        background-size: cover;
    }
    .win-board{
        .final{
            left: 50% !important;
            top: 45%;
            transform: translate(-50%,-50%);
            width: 170px;
            height: 110px;
            .score{
                font-size: 50px;
                line-height: 15px;
            }
            @include media-breakpoint-up(md){
                width: 410px/2;
                height: 260px/2;
            }
            @include media-breakpoint-up(lg){
                width: 410px;
                height: 260px;
                .score{
                    font-size: 110px;
                    line-height: 40px;
                }
            }
            &:before {
                content: 'Final Score';
                display: block;
                left: 0;
                width: 100%;
                text-align: center;
                position: absolute;
                top: -30px;
                font-size: 25px;
                line-height: 25px;
                @include media-breakpoint-up(md){
                    top: -40px;
                    font-size: 30px;
                    line-height: 40px;
                }
                @include media-breakpoint-up(lg){
                    top: -60px;
                    font-size: 60px;
                    line-height: 60px;
                }
            }
        }
    }
}


footer{
    position: relative;
    font-size: 14px;
   .logo-papillon{
       position: absolute;
       left: 50%;
       transform: translateX(-50%);
       bottom: 0;
       z-index: 0;
       img{
           bottom: 20px;
           width: 200px;
       }
       @include media-breakpoint-up(lg){
           img{
               width: 350px;
           };
       }
   }
}


/* animations */
@keyframes flipInY {
    from {
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        animation-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        animation-timing-function: ease-in;
    }

    60% {
        transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        opacity: 1;
    }

    80% {
        transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }

    to {
        transform: perspective(400px);
    }
}

@keyframes rubberBand {
    from {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, .95, 1);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    from {
        transform: scale3d(1, 1, 1);
    }

    50% {
        transform: scale3d(1.2, 1.2, 1.2);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}
